[Unit]
Description=iptables gateway service
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/iptables-gateway.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target