[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/guest/Downloads]
row=7
col=0

[/home/guest/Public]
row=3
col=0

[/home/guest/Pictures]
row=5
col=0

[/home/guest/Templates]
row=8
col=0

[/home/guest/Documents]
row=4
col=0

[/home/guest/Music]
row=6
col=0

[/home/guest/Desktop]
row=2
col=0

[Trash]
row=1
col=0

[/home/guest]
row=0
col=0

