[Desktop Entry]
Name=Eclipse 2022-09
Comment=IDE for Java Developers.
GenericName=Text Editor
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Type=Application
StartupNotify=false
StartupWMClass=Eclipse
Categories=TextEditor;Development;IDE;
Actions=new-empty-window;
Keywords=eclipse;
